html,
body,
#root {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

body {
  min-width: 380px;
  background: #f8e7dd;
  background-image: url("./assets/NewBg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
